<link rel="stylesheet" href="/css/footer.css">

<div class="footer text-center">
    <div class="name">Alexey Nurgaliev, 2016</div>
    <div class="social">
        <a href="https://github.com/n-at" target="_blank">
            <i class="fui-github"></i>
        </a>
        <a href="https://twitter.com/atnurgaliev" target="_blank">
            <i class="fui-twitter"></i>
        </a>
        <a href="http://mail.doublebyte.ru" target="_blank">
            <i class="fui-mail"></i>
        </a>
    </div>
</div>
