---
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    {% assign me = site.data.me %}
    {% assign title = me.title %}
    {% assign edu = me.edu %}

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Jura&subset=latin,cyrillic'>
    <link rel="stylesheet" href="css/me.css">

    <title>{{title.html_title}}</title>
</head>
<body>

<div class="gradient-box">
    <div class="container title">
        <img src="//gravatar.com/avatar/{{title.gravatar_id}}?s=100" alt="avatar">
        <h1 class="name">{{title.name}}</h1>
    </div>
</div>

<div class="container">

    <h2 class="section-title">{{title.education}}</h2>
    <hr>
    <div class="education">
        <p class="institution">
            {{edu.title}}
            <a href="{{edu.url}}" target="_blank"><i class="fa fa-external-link"></i></a>
        </p>
        <p class="faculty">{{edu.faculty}}</p>
    </div>

    <h2 class="section-title">{{title.skills_production}}</h2>
    <hr>
    <div class="row">
    {% for item in me.skills_production %}
        {% assign category = item[0] %}
        {% assign skills = item[1] %}
        <div class="{{me.skills_div_cls}}">
            <ul class="skills list-unstyled">
                {% for skill in skills %}
                    <li>{{skill}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>

    <h2 class="section-title">{{title.opensource}}</h2>
    <hr>
    <ul class="nav nav-pills nav-justified opensource">
        {% for item in me.opensource %}
        <li>
            <a href="{{item[1].url}}" target="_blank">
                <i class="{{item[1].icon_cls}}"></i> {{item[0]}}
            </a>
        </li>
        {% endfor %}
    </ul>
    <br>
    <ul class="list-unstyled projects">
        {% for project in me.projects %}
        <li>
            {% assign name = project[0] %}
            {% assign data = project[1] %}

            {% case data.type %}
            {% when "github" %}     <i class="fa fa-github"></i>
            {% when "bitbucket" %}  <i class="fa fa-bitbucket"></i>
            {% when "gitlab" %}     <i class="fa fa-gitlab"></i>
            {% else %}              <i class="fa fa-code"></i>
            {% endcase %}

            <a class="{{data.type}}" href="{{data.url}}">{{name}}</a>

            {% if data.npm %}
                <a class="npm" href="{{data.npm}}">NPM</a>
            {% endif %}
            {% if data.docker_hub %}
                <a class="docker" href="{{data.docker_hub}}">Hub</a>
            {% endif %}

            - {{data.features}}
        </li>
        {% endfor %}
    </ul>

    <h2 class="section-title">{{title.skills_not_production}}</h2>
    <hr>
    <div class="row">
    {% for item in me.skills_not_production %}
        {% assign category = item[0] %}
        {% assign skills = item[1] %}
        <div class="{{me.skills_div_cls}}">
            <ul class="skills list-unstyled">
                {% for skill in skills %}
                <li>{{skill}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>

    <hr>
    <div class="footer text-center">
        <div class="name text-muted">{{title.footer}}</div>
    </div>

</div>

{% include metrika.html %}

</body>
</html>
