<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!--html5shim-->
    <script src="/components/flat-ui/dist/js/vendor/html5shiv.js"></script>

    <!--jQuery-->
    <script src="/components/flat-ui/dist/js/vendor/jquery.min.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="/components/flat-ui/dist/css/vendor/bootstrap.min.css">

    <!--Flat UI-->
    <link rel="stylesheet" href="/components/flat-ui/dist/css/flat-ui.css">
    <script src="/components/flat-ui/dist/js/flat-ui.min.js"></script>

    <title>{{title}}</title>
</head>
<body>

{% include header.html %}

{{content}}

{% include footer.html %}

</body>
</html>
